<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Apuestas Deportivas</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="flatly.bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="ControllerHome as home" ngsf-fullscreen>
  <!-- container -->
  <div class="container-fluid full-height"  >
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ngsf-toggle-fullscreen href="#">{{home.appName}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="home.hayLogin">  
            <a ng-click="home.onOut()">{{home.cliente | uppercase}} Salir</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="container panel fondo-wplay part-height" >
      <!-- logo -->
      <div class="center-block logo-wplay">
        <img src="images/logo-new.webp"  alt="WPLAY" class="img-responsive center-block">
      </div>

      <!-- login -->
      <div ng-show="home.hayLogin" class=" center-block text-center">
        <form class="apuesta-ingresar center-block text-center">
          <div class="form-group center-block text-center">
            <h2>{{home.cliente | uppercase }}</h2>


            <span >Ingrese el dinero de la apuesta</span>
            <h3 ng-show='home.apuesta != null && home.apuesta > 0'>Valor Ingresado:{{home.apuesta | currency:"$":0}}</h3>
            <!--<label class="text-center" for="apuestaInput">Ingrese el dinero de la apuesta</label>
                      <input disabled="true" type="number" class="form-control" id="apuestaInput" ng-model="home.apuesta" placeholder="Ingrese billetes para la apuesta">
            -->
          </div>

          <div class="form-group center-block text-center">
            <button type="button" ng-click="home.onClickRecargar()" class="btn btn-default btn-lg center-block text-center">Recargar</button>

          </div>
        </form>
      </div>

      <!--tap id -->
      <div ng-hide="home.hayLogin">
        <form class="cedula-ingresar center-block text-center">
          <div class="form-group text-center">
            <label class="text-center" for="cedulaInput">Bienvenido!</label>
            <input type="text" disabled="true" class="form-control text-center" id="cedulaInput" ng-model="home.cedula" placeholder="Ingresa tu cédula por favor...">
          </div>

          <div>
            <div>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(1)">1</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(2)">2</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(3)">3</span>
            </div>
            <div>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(4)">4</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(5)">5</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(6)">6</span>
            </div>
            <div>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(7)">7</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(8)">8</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(9)">9</span>
            </div>
            <div>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(-1)">Borrar</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(0)">0</span>
              <span class="btn btn-primary btn-numpad" ng-click="home.onClickKeyNum(-2)">Limpiar</span>
            </div>
          </div>

          <div class="form-group center-block text-center">
            <button type="button" ng-click="home.onclickIngresar()" class="btn btn-default btn-lg text-center">Entrar</button>            
          </div>
        </form>        
      </div>  

      <div class="logos_footer">
        <img src="images/logo-ies.png"  alt="IES" class="left-block">
        <img src="images/logo_coljuegos.png"  alt="COLJUEGOS" class="right-block">
      </div>

    </div>

    <!--bill acceptor state -->
    <div class = 'footer'>
        <span ng-click="open()">{{estadoActual}}</span><span ng-show="detailBilletero != null">{{detailBilletero}}</span>    
    </div>
  </div> <!-- /container -->

  <script type="text/ng-template" id="myModal.html">
    <div class="modal-header">
      <h3 class="modal-title">{{titulo}}</h3>
    </div>
    <div class="modal-body">
      <div>
        {{ body }}
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>

    </div>
  </script>
  <script type="text/ng-template" id="loginModal.html">
    <div class="modal-header">
      <h2 class="modal-title">Usuario encontrado</h2>
    </div>
    <div class="modal-body">
      <div>
        Desea realizar la recarga a nombre de <strong>{{nombre | uppercase}}</strong>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Si, realizar recarga</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">No, regresar al inicio</button>
    </div>
  </script>
  <script type="text/ng-template" id="loadingModal.html">
    <div class="modal-header center-block text-center">
      <h2 class="modal-title">Cargando...</h2>
    </div>
    <div class="modal-body">
      <div class="center-block text-center">
        <img src="images/ezgif.com-crop.gif" alt="Cargando ...">
      </div>
    </div>

  </script>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-websocket/dist/angular-websocket.js" ></script>
  <script src="bower_components/screenfull/dist/screenfull.js"></script>
  <script src="bower_components/angular-screenfull/dist/angular-screenfull.min.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

</body>
</html>
