<div>
    <h2>
        <span jhiTranslate="raspbCabApp.counter.home.title">Counters</span>
        <button class="btn btn-primary float-right create-counter" [routerLink]="['/', { outlets: { popup: ['counter-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="raspbCabApp.counter.home.createLabel">
            Create new Counter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="counters">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="registry"><span jhiTranslate="raspbCabApp.counter.registry">Registry</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="counter"><span jhiTranslate="raspbCabApp.counter.counter">Counter</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="total"><span jhiTranslate="raspbCabApp.counter.total">Total</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let counter of counters ;trackBy: trackId">
                <td><a [routerLink]="['../counter', counter.id ]">{{counter.id}}</a></td>
                <td>{{counter.registry}}</td>
                <td>{{counter.counter}}</td>
                <td>{{counter.total}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../counter', counter.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'counter/'+ counter.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'counter/'+ counter.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="counters && counters.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
